{% extends 'base.html.twig' %}

{% block title 'Nouveau Pin' %}

{% block body %}
    <h1>Créer un Pin</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer un Pin">
    {{ form_end(form) }}
{% endblock %}