{% extends 'base.html.twig' %}

{% block title 'Éditer le Pin #' ~ pin.id %}

{% block body %}
    <h1>Éditer le Pin # {{ pin.id }}</h1>

    {{ include('pins/_form.html.twig', {submitButtonText : 'Éditer le Pin'}) }}

{% endblock %}