<nav class="navbar navbar-expand-sm navbar-light bg-light mb-4" aria-label="Third navbar example">

    <div class="container">
      <a class="navbar-brand" href="{{ path('app_home') }}">Ponterest</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav ms-md-auto ">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_pins_create') }}">Nouveau Pin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Compte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
